[tool.poetry]
name = "sssom-schema"
version = "0.0.0"
description = "SSSOM is a Simple Standard for Sharing Ontology Mappings."
readme = "README.md"
authors = [
    "Nicolas Matentzoglu <nicolas.matentzoglu@gmail.com>",
    "Harshad Hegde <hhegde@lbl.gov>"
    ]
license = "MIT"

[tool.poetry.dependencies]
python = "^3.9"
linkml-runtime = "^1.1.24"

[tool.poetry.dev-dependencies]
linkml = "^1.2.6"
mkdocs-material = "^8.2.8"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.poetry.extras]
docs = ["linkml", "mkdocs-material"]