name: Build
on:
  push:
    paths:
      - 'sssom/model/schema/sssom.yaml'
  pull_request:
    branches: [master]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
        with:
          persist-credentials: false # otherwise, the token used is the GITHUB_TOKEN, instead of your personal token
          fetch-depth: 0 # otherwise, you will failed to push refs to dest repo
      - uses: actions/setup-python@v2
        with:
          python-version: 3.9
      - name: Create local changes
        run: |
          pip install pipenv
          make all
      - name: Commit files
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git commit -m "Rebuilding documentation and generated files with Github Action" -a
      - name: Push changes
        uses: ad-m/github-push-action@master
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
        run: |
          echo $github.ref
      #     branch: ${{ github.ref }}
      - name: Run unit tests
        run: |
          make test
          
