# Basic ODK workflow

name: CI

# Controls when the action will run. 
on:
  # Triggers the workflow on push or pull request events but only for the master branch
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  sssom_validation:
    runs-on: ubuntu-latest
    container: obolibrary/odkfull:v1.5.4
    steps:
      - name: Install latest SSSOM
        env:
          DEFAULT_BRANCH: master
        run: pip install -U sssom sssom-schema --break-system-packages
      - uses: actions/checkout@v2
      - name: Run Mapping QC checks
        env:
          DEFAULT_BRANCH: master
        run: make validate_mappings

